<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ch11_3_3_ServiceReferenceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1636/ch11-3_3_ServiceReference.asmx"
                binding="basicHttpBinding" bindingConfiguration="ch11_3_3_ServiceReferenceSoap"
                contract="ServiceReference1.ch11_3_3_ServiceReferenceSoap"
                name="ch11_3_3_ServiceReferenceSoap" />
        </client>
    </system.serviceModel>
</configuration>
